* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
}

h1 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: black;
}

.hr {
    margin: 50px;
    color: red;
}
