.boton__main {
    border-radius: black solid;
    margin: 10px;
    display: flex;
    justify-content: center;
    
}

.button__new {
    background-color: black;
    color: white;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 16px;
    position: absolute;
 }