.form__contacto {
    border: black solid 2px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    width: 50%;
}

.main__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}