.div__noticias {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.div__zapatillasVarias {
    border-top: red solid;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.div__contacto {
    margin: 10px;
}