$estilos: (
  color: rgb(255, 0, 0) solid,
  centro: center,
  5px : 5px
);


.div__noticias {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.div__zapatillasVarias {
    border-top: map-get($estilos, color);
    display: flex;
    justify-content: map-get($estilos, centro);
    margin: map-get($estilos, 5px);
}

.div_sucursales {
  border: 2px solid;
  background-color: black;
  margin-top: 10vw;
  height: 20vw;
  width: 100%;
  margin-right: 50px;
}

.div_empresa{
  border: 2px solid;
  background-color: black;
  margin-top: 10vw;
  height: 20.5vw;
  width: 100%;
  margin-right: 50px;
}

.div_iframe {
  width: 20%;
  height: 50%;
}