.h2_sucursales {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.h3_sucursales {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-style: italic;
    font-size: 3vh;
    color: white;
}

.nuestras_sucursales {
    background-color: black;
    width: 100%;
}

iframe {
    width: 30%;
    margin-right: 50vh;
    height: 70%;
}