.tarjeta__absolute1 {
    background-color: $colorPrincipal;
    color: white;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 16px;
    position: absolute;
    top:27rem;
    right: 75.5rem;
}

.tarjeta__absolute {
    background-color: $colorPrincipal;
    color: white;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 16px;
    position: absolute;
    top:31rem;
    right: 93rem;
}